@font-face {
  font-family: 'iconfont';  /* Project id 3192790 */
  src: url('//at.alicdn.com/t/font_3192790_xjp5ueq8xhq.woff2?t=1646016246164') format('woff2'),
       url('//at.alicdn.com/t/font_3192790_xjp5ueq8xhq.woff?t=1646016246164') format('woff'),
       url('//at.alicdn.com/t/font_3192790_xjp5ueq8xhq.ttf?t=1646016246164') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e639";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-wode:before {
  content: "\e604";
}

